/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/poppins-400.woff2?v=1) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/poppins-500.woff2?v=1) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/poppins-700.woff2?v=1) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@tailwind components;
@tailwind base;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

:root {
  color-scheme: light;
  --scroll-margin-top: 30px;

  --bg-color: #ffffff;
  --text-color: #0e201a;
  --secondary-text-color: #171a19;
  --interactive-text-color: #d23669;

  --code-bg-color: #e0e0e0;
  --code-border-color: #bfbfbf;
  --blockquote-bg-color: #f1f5fe;

  --card-bg-color: #1d1d1d;
  --card-title-color: #e3e2e9;
  --card-description-color: rgb(198 198 198);
  --card-author-color: #e3e2e9;
  --card-date-color: #c5c4c8;
}

:root[data-theme='dark'] {
  color-scheme: dark;

  --bg-color: #101010;
  --text-color: #e3e2e9;
  --secondary-text-color: #ffffffc3;
  --interactive-text-color: #ffa7c4;

  --code-bg-color: #1d1d1d;
  --code-border-color: #525252;
  --blockquote-bg-color: #353639;

  --card-bg-color: #e0e0e0;
  --card-title-color: #0e201a;
  --card-description-color: rgb(49, 51, 50);
  --card-author-color: #0e201a;
  --card-date-color: rgb(44 46 45);
}

html {
  font-family:
    Poppins,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    Segoe UI Symbol,
    'Noto Color Emoji';
  background-color: var(--bg-color);
  color: var(--text-color);
}

a,
button,
textarea,
input,
select {
  touch-action: manipulation;
}

body {
  @apply antialiased min-h-screen;
}

code .line.line--highlighted {
  background: rgba(200, 200, 255, 0.1);
  border-left-color: #60a5fa;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}

::view-transition-old(root) {
  animation:
    90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
  animation:
    210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}
