header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

header .logo a,
header .logo .leonerd-logo {
  display: inline-block;
  padding: 16px 10px 7px 6px;
}

header ul {
  height: 100%;
  flex-grow: 1;
  padding-bottom: 1.5em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header li {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

header li a:hover svg {
  opacity: 0.8;
}

.about-link {
  font-size: 18px;
  text-underline-offset: 8px;
  margin-block-start: 5px;
}

.about-link:hover {
  text-decoration: underline;
}

@media (min-width: 600px) {
  .about-link {
    margin-inline-end: 10px;
  }
}

@media (min-width: 1024px) {
  .about-link {
    font-size: 20px;
    margin-inline-end: 20px;
    text-underline-offset: 10px;
  }
}
