header {
  display: flex;
  justify-content: space-between;
}

header .logo a {
  display: inline-block;
  padding: 10px 10px 7px 20px;
}

header ul {
  height: 100%;
  padding: 3px 10px 0 0;
}

header li {
  display: inline-block;
  padding: 15px 10px;
}

header li a {
  display: inline-block;
}

header li a:hover svg {
  opacity: 0.8;
}
